* {
  margin: 0;
  padding: 0;
  font-family: Segoe UI;
  box-sizing: border-box;
}
.bg-holder-reg {
  background-color: #ffffff;
  background-image: url("../images/Group\ 38.png");
  background-repeat: no-repeat;
  background-size: auto;
  height: 100vh;
}
#close {
  display: none;
}
#mobile {
  display: none;
  align-items: center;
}

.header-reg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 65px 180px;
}
#navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-left: 80px;
}
#navigation li {
  list-style: none;
  padding: 20px 20px;
}
.logo-reg {
  height: auto;
  width: auto;
  object-fit: cover;
}
#navigation li a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: black;
}
#navigation li a:hover {
  color: indianred;
}
.nav-button-reg {
  display: flex;

  align-items: center;
}
.nav-button-reg {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.Artisan-reg div {
  width: 500px;
}
.Artisan-reg p {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  width: 430px;
}
.arttext-reg {
  padding: 30px 20px;
  width: 400px;
}
.nav-button-reg li {
  list-style: none;
  padding: 8px 30px;
  border-radius: 80px;
  border: 1px solid #e26e4e;
  margin-right: 10px;
}
.nav-button-reg li a {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}
.nav-button-reg li:nth-last-child(1) {
  background: #e26e4e;
  border-radius: 80px;
}
.nav-button-reg li a:nth-last-child(1) {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
.hitter-reg {
  height: 80vh;
}
.Artisan-reg {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 120px 10px;
}
.Artisan-reg a {
  text-decoration: none;
  background-image: url("../images/Rectangle\ 22.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 140px;
  font-weight: 600;
  color: white;
  font-size: 20px;
}
.Artisan-reg a:hover {
  text-decoration: none;
  background-image: url("../images/Rectangle\ 22.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 140px;
  font-weight: 600;
  color: black;
  font-size: 20px;
}

#login-reg {
  display: none;
}

#signup-reg {
  display: none;
}

@media (max-width: 991px) {
  .bg-holder-reg {
    background-color: #ffffff;
    background-image: url("../images/Group\ 38.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .Artisan-reg div {
    width: 500px;
  }
  .Artisan-reg p {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    width: 430px;
  }
  .arttext-reg {
    padding: 30px 20px;
  }
  .Artisan-reg {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
  }
  .Artisan-reg a {
    text-decoration: none;
    background-image: url("../images/Rectangle\ 22.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 140px;
    font-weight: 600;
    color: white;
    font-size: 20px;
  }
  .logo-reg {
    height: auto;
    width: auto;
    object-fit: cover;
  }
  .header-reg {
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    background-color: white;
  }
  #navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: white;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }
  #navigation li {
    list-style: none;
    padding: 20px 35px;
    letter-spacing: 1px;
  }
  #navigation li a {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    color: black;
  }
  #navigation li a:hover {
    color: indianred;
  }
  .nav-button-reg {
    display: none;

    align-items: center;
  }
  .nav-button-reg {
    display: none;
    justify-content: space-evenly;
    align-items: center;
  }
  .nav-button-reg li {
    list-style: none;
    padding: 8px 30px;
    border-radius: 80px;
    border: 1px solid #e26e4e;
    margin-right: 10px;
  }

  #close {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 20px;
    display: flex;
    color: #222;
  }
  #mobile {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding-left: 20px;
  }

  .nav-button-reg li a {
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }
  .nav-button-reg li:nth-last-child(1) {
    background: #e26e4e;
    border-radius: 80px;
  }
  .nav-button-reg li a:nth-last-child(1) {
    text-decoration: none;
    color: white;
    font-size: 15px;
  }

  .cancel-reg {
    color: indianred;
    background-color: transparent;
    border-radius: 80px;
    border: 1px solid indianred;
    padding: 10px 10px;
  }

  .in-reg {
    color: white;
    background-color: indianred;
    border-radius: 80px;
    border: 1px solid indianred;
    padding: 10px 10px;
  }
  #navigation.active {
    right: 0px;
  }
  #login-reg {
    display: grid;
    list-style: none;
    padding: 8px 38px;
    border-radius: 80px;
    background-color: indianred;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: white;
  }

  #signup-reg {
    display: grid;
    list-style: none;
    padding: 8px 30px;
    border-radius: 80px;
    border: 1px solid #e26e4e;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 10px;
  }
}
@media (max-width: 450px) {
  #login-reg {
    display: grid;
    list-style: none;
    padding: 8px 38px;
    border-radius: 80px;
    background-color: indianred;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: white;
  }

  #signup-reg {
    display: grid;
    list-style: none;
    padding: 8px 30px;
    border-radius: 80px;
    border: 1px solid #e26e4e;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 10px;
  }
  .cancel-reg {
    color: indianred;
    background-color: transparent;
    border-radius: 80px;
    border: 1px solid indianred;
    padding: 10px 20px;
  }
  .in-reg {
    color: white;
    background-color: indianred;
    border-radius: 80px;
    border: 1px solid indianred;
    padding: 10px 20px;
  }
  .formholder-reg h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 43px;

    color: black;
    text-align: center;
  }
  .hitter-reg {
    height: 55vh;
  }
  .logo-reg {
    height: auto;
    width: auto;
    object-fit: cover;
  }
  .header-reg {
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;
    background-color: white;
  }
  #navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: white;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }
  #navigation li {
    list-style: none;
    padding: 20px 35px;
    letter-spacing: 1px;
  }
  #navigation.active {
    right: 0px;
  }
  #navigationr li a {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    color: black;
  }
  #navigation li a:hover {
    color: indianred;
  }
  .nav-button-reg {
    display: none;

    align-items: center;
  }
  .nav-button-reg {
    display: none;
    justify-content: space-evenly;
    align-items: center;
  }
  .nav-button-reg li {
    list-style: none;
    padding: 8px 30px;
    border-radius: 80px;
    border: 1px solid #e26e4e;
    margin-right: 10px;
  }
  .nav-button-reg li a {
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }
  #close {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 20px;
    display: flex;
    color: #222;
  }
  #mobile {
    display: flex;
    align-items: center;
    font-size: 20px;
    padding-left: 20px;
  }

  .nav-button-reg li:nth-last-child(1) {
    background: #e26e4e;
    border-radius: 80px;
  }
  .nav-button-reg li a:nth-last-child(1) {
    text-decoration: none;
    color: white;
    font-size: 15px;
  }

  .Artisan-reg div {
    width: 400px;
  }
  .Artisan-reg p {
    font-weight: 400;
    width: 350px;
    font-size: 14px;
    letter-spacing: 1px;
  }
  .arttext-reg {
    padding: 30px 20px;
  }
  .Artisan-reg {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
  }
  .Artisan-reg a {
    text-decoration: none;
    background-image: url("../images/Rectangle\ 22.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 40px 90px;
    font-weight: 600;
    color: white;
    font-size: 20px;
  }
}
