* {
  margin: 0;
  padding: 0;
  font-family: Segoe UI;
  box-sizing: border-box;
}
.circle {
  margin: 0px auto;
  width: 70px;
  height: 70px;
  background: #fefcff;
  border-radius: 50%;
  border: 1px solid #cdcbd0;
}
.thanos-artisan {
  width: 5%;
  text-align: right;
}
.execute-artisan {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
}
.another-artisan {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 500;
  color: grey;
}
.another1-artisan {
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 500;
  padding-top: 0px;
  color: grey;
}
.anotherone-artisan {
  font-size: 14px;
  font-family: "Montserrat";
  padding-top: 25px;
  font-weight: 500;
  color: grey;
}
.toping-artisan {
  padding-top: 20px;
}
.dinner-artisan {
  display: grid;
  margin-top: -20px;
}
.another1-artisan {
  margin-top: 50px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat";
  color: grey;
}
.input-boxer-artisan {
  width: 60%;
  padding: 10px 0px;
}
.nile-artisan {
  color: indianred;
  font-size: 33px;
  font-weight: 600;
  font-family: "Montserrat";
  margin: 0px;
}
.naira-artisan span {
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: "Montserrat";
}
.nile-inner-artisan span {
  letter-spacing: 0px;
  text-align: right;
  font-size: 10px;
  font-family: "Montserrat";
  padding-left: 40px;
}
.rowwer-artisan {
  display: flex;
  align-items: center;
}
.row1-artisan {
  width: 35%;
}
.hella-main-artisan {
  padding: 10px 0px;
  justify-content: flex-end;
  display: flex;
  width: 100%;
  align-items: center;
}
.hell-artisan {
  width: 20%;
}
.hella-artisan {
  padding: 20px 70px;
  font-weight: 600;
  font-family: "Montserrat";
  background-color: #60be68;
  color: white;
  border: none;
}

.input-boxer-artisan > input {
  height: 45px;
  width: 100%;
  outline: none;
  border: none;
  font-family: "Montserrat";
  border-radius: 2px;
  text-align: left;
  font-size: 12px;
  margin-top: -20px;
  color: #777171;
  padding-left: 15px;
  font-weight: 600;
}
.gether-artisan {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: flex-start;
}
.bring-artisan {
  background-color: white;
  padding: 10px 10px;
  width: 50%;
}

.review-artisan {
  text-decoration: none;
  color: white;

  background-color: rgb(226, 110, 78);
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat";
}
.review1-artisan {
  text-decoration: none;
  color: white;
  background-color: rgb(226, 110, 78);
  padding: 10px 11px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat";
}
textarea {
  height: 100px;
  width: 300px;
  outline: none;
  border: none;
  border-radius: 2px;
  font-size: 16px;
  padding: 12px 20px;
  color: #777171;
  font-family: "Montserrat";
  font-weight: 600;
}
#mobile-artisan {
  display: none;
  align-items: center;
}
#mobile1-artisan {
  display: none;
  align-items: center;
}

.bw-artisan {
  padding-top: 50px;
}
.bw-artisan span {
  color: indianred;
  font-size: 15px;
  font-weight: 600;
  font-family: "Montserrat";
}
.bw-artisan h3 {
  color: white;
  font-size: 25px;
  font-family: "Montserrat";
  font-weight: 600;
}
#close1-artisan {
  display: none;
}
#close2-artisan {
  display: none;
}
.hello .circle .mask,
.hello .circle .fill {
  width: 70px;
  height: 70px;
  position: absolute;
  border-radius: 50%;
}

.mask .fill {
  clip: rect(0px, 37px, 75px, 0px);
  background-color: indianred;
}
.hello .circle .mask {
  clip: rect(0px, 90px, 90px, 35px);
}
.mask.full,
.circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(135deg);
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
}
.hello .inside-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: white;
  line-height: 50px;
  text-align: center;
  margin-top: 4px;
  margin-left: 4px;
  color: indianred;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 10px;
}
.stats {
  padding: 0px 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.stater {
  width: 23%;
  height: 150px;
  padding: 10px 20px;
  border-radius: 10px;
  margin-right: 5px;
}

.stater h6 {
  font-size: 20px;
  font-weight: 600;
  color: indianred;
  font-family: "Montserrat";
}

.stats-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stats-inner > div {
  width: 50%;
}
.stats-inner h4 {
  font-size: 30px;
  font-weight: 600;
  text-align: right;
  color: indianred;
  font-family: "Montserrat";
}

.stats-inner h6 {
  font-size: 10px;
  font-weight: 600;
  color: indianred;
  text-align: right;
  font-family: "Montserrat";
}
.header-artisan {
  display: flex;
  background-image: url("../images/Group\ 41.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 100%;
}
.header-first-artisan {
  width: 17%;
  color: white;
}
.header-second-artisan {
  width: 83%;
}
.hff-artisan {
  padding: 12px 50px;
  background-color: rgb(226, 110, 78);
  text-align: left;
  font-family: "Montserrat";
}
.hff-artisan h6 {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
}
.hfb-artisan {
  padding: 12px 5px;
  text-align: center;
  background-color: rgb(245, 206, 196);
}
.hfb-artisan h6 {
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 600;
  font-family: "Montserrat";
}

.bnav-artisan {
  padding: 15px 40px;

  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.bnav-artisan > div {
  margin: 0px 10px;
}
#headnav-artisan {
  padding: 0px 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#headina-artisan {
  display: flex;
}
#headina-artisan li {
  padding: 0px 10px;
  list-style: none;
}
#headina-artisan li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-family: "Montserrat";
}
.main-artisan {
  display: flex;

  position: relative;
  padding: 25px 0px;
  width: 100%;
}
.main-artisan ul li {
  list-style: none;
  padding: 15px 10px;
}
.main-artisan ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #777171;
  font-family: "Montserrat";
}
.main-artisan ul li a span {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #777171;
  font-family: "Montserrat";
}
.main-artisan img {
  padding: 0px 10px;
}
.egbe-artisan {
  width: 17%;
}
.other-artisan {
  width: 85%;

  padding: 10px 70px;
}
.abovegrey-artisan {
  width: 100%;
  height: 25vh;

  margin-bottom: 50px;
}
.grey-area-artisan {
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  margin: auto;
  height: 500px;
}
.grey-area2-artisan {
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  margin: auto;
  height: 500px;
}
.grey-area12-artisan {
  background-color: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  border-radius: 15px;
  margin: auto;
  height: 700px;
}

.grey-area1-artisan {
  background-color: #e8e8e8;
  display: flex;
  padding: 10px 10px;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  border-radius: 15px;
  margin: auto;
  height: 500px;
}

.blue-area-artisan {
  background-color: #03303e;
  display: flex;
  padding: 0px 60px;
  width: 100%;
  border-radius: 5px;
  margin: auto;
  height: fit-content;
}
.blue-area2-artisan {
  background-color: #03303e;
  display: flex;
  padding: 0px 60px;
  width: 100%;
  border-radius: 5px;
  margin: auto;
  height: fit-content;
}

.blue-area1-artisan {
  position: relative;
  background-color: #03303e;
  display: flex;
  padding: 100px 90px;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  border-radius: 5px;
  margin: auto;
  height: fit-content;
}
.popup1-artisan {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(250, 193, 44);
  padding: 110px 100px;
  width: 40%;
  height: 60vh;
  visibility: visible;
  border-radius: 20px;
  margin: 5% 35%;
}
.popup1-artisan img {
  width: 100%;
  height: 120px;
  object-fit: contain;
}
.popup1-artisan h5 {
  color: white;
  margin: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 20px;
  font-family: "Montserrat";
}

.popup1-artisan button {
  background-color: transparent;
  border: 1px solid white;
  padding: 12px 60px;
  font-family: "Montserrat";
  color: white;
  border-radius: 20px;
}

.popup-artisan {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(250, 193, 44);
  padding: 110px 100px;
  width: 40%;
  height: 60vh;
  visibility: hidden;
  border-radius: 20px;
  margin: 15% 35%;
}
.popup-artisan img {
  width: 100%;
  height: 120px;
  object-fit: contain;
}
.popup-artisan h5 {
  color: white;
  margin: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 20px;
  font-family: "Montserrat";
}
.pp-artisan {
  width: 100%;
}
.ppc-artisan {
  width: 75%;
  margin: 0px auto;
}
.popup-artisan button {
  background-color: transparent;
  border: 1px solid white;
  padding: 12px 60px;
  font-family: "Montserrat";
  color: white;
  border-radius: 20px;
}
.popup44-artisan {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(250, 193, 44);
  padding: 110px 100px;
  width: 40%;
  height: 60vh;
  visibility: hidden;
  border-radius: 20px;
  margin: 15% 35%;
}
.popup44-artisan img {
  width: 100%;
  height: 120px;
  object-fit: contain;
}
.popup44-artisan h5 {
  color: white;
  margin: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 20px;
  font-family: "Montserrat";
}
.popupo44-artisan {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(250, 193, 44);
  padding: 110px 100px;
  width: 40%;
  height: 60vh;
  visibility: hidden;
  border-radius: 20px;
  margin: 0% 35%;
}
.popupo44-artisan img {
  width: 100%;
  height: 120px;
  object-fit: contain;
}
.popupo44-artisan h5 {
  color: white;
  margin: 10px;
  font-family: "Montserrat";
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 20px;
}
.popupo44-artisan button {
  background-color: transparent;
  border: 1px solid white;
  padding: 12px 60px;
  font-family: "Montserrat";
  color: white;
  border-radius: 20px;
}

.pp-artisan {
  width: 100%;
}
.ppc-artisan {
  width: 75%;
  margin: 0px auto;
}
.popup44-artisan button {
  background-color: transparent;
  border: 1px solid white;
  padding: 12px 60px;
  font-family: "Montserrat";
  color: white;
  border-radius: 20px;
}

.pfas-artisan {
  width: 100%;
}
.visio-artisan {
  position: relative;
  filter: blur(1px);
  visibility: visible;
}
.visioclose-artisan {
  position: relative;
  filter: none;
  visibility: visible;
}
.wb-artisan {
}
.pfas-artisan h2 {
  color: indianred;
  font-weight: 600;
  font-size: 25px;
  font-family: "Montserrat";
}
.wb-artisan span {
  color: indianred;
  font-size: 15px;
  font-weight: 600;
  font-family: "Montserrat";
}
.wb-artisan h3 {
  color: white;
  font-size: 25px;
  font-weight: 600;
  font-family: "Montserrat";
}
.job-artisan {
  width: 50%;
}
.detail-table-artisan {
  width: 65%;
  padding: 10px 0px;
}
.complete-artisan {
  padding: 10px 0px;
  display: flex;
  justify-content: flex-end;
  width: 60%;
  align-items: center;
}
.complete-artisan > div {
  margin: 0px 10px;
}
.reject-artisan {
  padding: 10px 50px;
  color: white;
  background-color: indianred;
  border: none;
  text-decoration: none;
  font-weight: 600;
  font-family: "Montserrat";
}
.paid-artisan {
  background-color: #60be68;
  color: white;
  border: none;
  font-weight: 600;
  padding: 10px 40px;
  font-family: "Montserrat";
}
.breaker-artisan {
  display: none;
}
#customers1-artisan {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: #777171;
  font-family: "Montserrat";
}

#customers1-artisan td,
#customers1-artisan th {
  padding: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: "Montserrat";
}

#customers1-artisan th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  font-size: 20px;
  letter-spacing: 1px;
  color: black;
  font-family: "Montserrat";
}

#customers-artisan {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: white;
  font-family: "Montserrat";
}

#customers-artisan td,
#customers-artisan th {
  padding: 8px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Montserrat";
}

#customers-artisan th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  font-family: "Montserrat";
  color: white;
}
.fulltable-artisan {
  width: 90%;
}
.fulltable1-artisan {
  width: 95%;
  margin-top: 0px;
}
.fulltable2-artisan {
  width: 95%;
  padding: 0px 10px;
  margin-top: 70px;
}
.job-artisan h6 {
  margin-top: 50px;
  color: white;
  font-family: "Montserrat";
  font-weight: 600;
}
.grey-area-artisan p {
  font-weight: 600;
  font-size: 25px;
  font-family: "Montserrat";
}
.grey-area2-artisan p {
  font-weight: 600;
  font-size: 25px;
  font-family: "Montserrat";
}
.above-link-artisan ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  padding: 0px 0px;
}
.above-link-artisan ul li {
  padding: 20px 40px;
  list-style: none;
  margin: 0px 20px;
}
.bluein1-artisan {
  padding: 20px 0px;
  width: 90%;
}
.above-link-artisan ul li a {
  font-size: 20px;
  color: #e26e4e;
  font-weight: 600;
  text-decoration: none;
  font-family: "Montserrat";
}
.dd-artisan {
  width: 35%;
  margin: 0px auto;
}
.user-details-artisan {
  margin: 0px auto;
  width: 100%;
}
.user1-details-artisan {
  margin: 0px 0px;
  width: 60%;
  padding: 50px 0px;
}
.user1-details-artisan h5 {
  color: #e26e4e;
  width: 30%;
  letter-spacing: 3px;
  font-size: 25px;
  font-weight: 600;
  font-family: "Montserrat";
}
.input-artisan {
  height: 60px;
  width: 100%;
  outline: none;
  border: none;
  font-family: "Montserrat";
  border-radius: 2px;
  text-align: left;
  font-size: 16px;
  color: #777171;
  padding-left: 15px;
  font-weight: 600;
}
.input-box-artisan {
  width: 100%;
  padding: 10px 0px;
}

input {
  height: 50px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 2px;
  text-align: left;
  font-size: 12px;
  color: #777171;
  padding-left: 15px;
  font-family: "Montserrat";
  font-weight: 600;
}
select {
  height: 50px;
  background-color: white;
  color: #777171;
  width: 100%;
  outline: none;
  padding-left: 15px;
  font-size: 12px;
  border: none;
  font-family: "Montserrat";
  font-weight: 600;
}
.user-details-artisan h5 {
  color: indianred;
  font-size: 25px;
  font-weight: 600;
  font-family: "Montserrat";
}
.summer-artisan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.summer-artisan button {
  background-color: #e26e4e;
  color: white;
  border: none;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 50px;
  font-family: "Montserrat";
}
.summ-artisan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.summ-artisan button {
  background-color: #e26e4e;
  color: white;
  border: none;
  font-family: "Montserrat";
  font-size: 15px;
  font-weight: 600;
  padding: 10px 30px;
}
.blue2-artisan {
  padding: 30px 50px;
}
.blue2-artisan img {
  width: 100%;
  height: 500px;
  object-fit: contain;
}

.reg-form-artisan input:focus,
.reg-form-artisan input:valid {
  border: 1px solid goldenrod;
}
.reg-form-artisan select:focus,
.reg-form-artisan select:valid {
  border: 1px solid goldenrod;
}
.add-artisan {
  border-radius: 20px;
  background-color: transparent;
  border: 3px solid #e26e4e;
  padding: 10px 30px;
  color: #e26e4e;
  font-weight: 600;
  font-size: 15px;
  font-family: "Montserrat";
}
.user1-details-artisan h6 {
  color: white;
  font-size: 25px;
  font-weight: 500;
  font-family: "Montserrat";
  letter-spacing: 1px;
}
@media (max-width: 991px) {
  .fulltable2-artisan {
    width: 100%;
    padding: 0px 10px;
    margin-top: 70px;
  }

  .another1-artisan {
    font-size: 14px;
    font-weight: 500;
    padding-top: 0px;
    color: grey;
  }
  .anotherone-artisan {
    font-size: 14px;
    padding-top: 25px;
    font-weight: 500;
    color: grey;
  }
  #close1-artisan {
    display: none;
  }
  #close2-artisan {
    display: none;
  }
  .toping-artisan {
    padding-top: 20px;
  }
  .dinner-artisan {
    display: grid;
    margin-top: -20px;
  }
  .another1-artisan {
    margin-top: 50px;
    font-size: 14px;
    font-weight: 500;
    color: grey;
  }
  .input-boxer-artisan {
    width: 50%;
    padding: 10px 0px;
  }
  .nile-artisan {
    color: indianred;
    font-size: 33px;
    font-weight: 600;
    margin: 0px;
  }
  .naira-artisan span {
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
  }
  .nile-inner-artisan span {
    letter-spacing: 0px;
    text-align: right;
    font-size: 10px;
    padding-left: 40px;
  }
  .rowwer-artisan {
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;
  }
  .row1-artisan {
    width: 35%;
  }
  .hella-main-artisan {
    padding: 10px 0px;
    justify-content: flex-end;
    display: flex;
    width: 100%;
    align-items: center;
  }
  .hell-artisan {
    width: 37%;
  }
  .hella-artisan {
    padding: 20px 70px;
    font-weight: 600;
    background-color: #60be68;
    color: white;
    border: none;
  }

  .input-boxer-artisan > input {
    height: 45px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 2px;
    text-align: left;
    font-size: 12px;
    margin-top: -20px;
    color: #777171;
    padding-left: 15px;
    font-weight: 600;
  }
  .gether-artisan {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }
  .bring-artisan {
    background-color: white;
    padding: 10px 10px;
    width: 90%;
  }

  .review-artisan {
    text-decoration: none;
    color: white;
    background-color: rgb(226, 110, 78);
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
  }
  .review1-artisan {
    text-decoration: none;
    color: white;
    background-color: rgb(226, 110, 78);
    padding: 10px 11px;
    font-size: 14px;
    font-weight: 600;
  }
  textarea {
    height: 100px;
    width: 300px;
    outline: none;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    padding: 12px 20px;
    color: #777171;
    font-weight: 600;
  }

  .thanos-artisan {
    width: 5%;
    text-align: right;
  }
  .execute-artisan {
    font-size: 14px;
    font-weight: 700;
  }
  .another-artisan {
    font-size: 14px;
    font-weight: 500;
    color: grey;
  }
  .review-artisan {
    text-decoration: none;
    color: white;
    background-color: rgb(226, 110, 78);
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
  }

  .user1-details-artisan h6 {
    color: white;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .stats {
    padding: 0px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  .stater {
    width: 25%;
    height: 110px;
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 5px;
  }

  .stater h6 {
    font-size: 13px;
    font-weight: 600;
    color: indianred;
  }

  .stats-inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .stats-inner > div {
    width: 30%;
  }
  .stats-inner h4 {
    font-size: 25px;
    font-weight: 600;
    text-align: right;
    color: indianred;
  }

  .circle {
    margin: 0px auto;
    width: 70px;
    height: 70px;
    background: #fefcff;
    border-radius: 50%;
    border: 1px solid #cdcbd0;
  }
  .hello .circle .mask,
  .hello .circle .fill {
    width: 70px;
    height: 70px;
    position: absolute;
    border-radius: 50%;
  }

  .mask .fill {
    clip: rect(0px, 37px, 75px, 0px);
    background-color: indianred;
  }
  .hello .circle .mask {
    clip: rect(0px, 90px, 90px, 35px);
  }
  .mask.full,
  .circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(135deg);
  }

  @keyframes fill {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(135deg);
    }
  }
  .hello .inside-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: white;
    line-height: 50px;
    text-align: center;
    margin-top: 4px;
    margin-left: 4px;
    color: indianred;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 10px;
  }

  .stats-inner h6 {
    font-size: 10px;
    font-weight: 600;
    color: indianred;
    text-align: right;
  }
  .popup-artisan {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(250, 193, 44);
    padding: 110px 10px;
    width: 50%;
    visibility: hidden;
    height: 40vh;
    border-radius: 20px;
    margin: 30% 30%;
  }
  .popup-artisan img {
    width: 100%;
    height: 120px;
    object-fit: contain;
  }
  .popup-artisan h5 {
    color: white;
    margin: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 20px;
  }
  .popupo44-artisan {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(250, 193, 44);
    padding: 110px 100px;
    width: 50%;
    height: 50vh;
    visibility: hidden;
    border-radius: 20px;
    margin: 20% 25%;
  }
  .popupo44-artisan img {
    width: 100%;
    height: 120px;
    object-fit: contain;
  }
  .popupo44-artisan h5 {
    color: white;
    margin: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 20px;
  }
  .popupo44-artisan button {
    background-color: transparent;
    border: 1px solid white;
    padding: 12px 60px;

    color: white;
    border-radius: 20px;
  }

  #mobile-artisan {
    display: none;
    align-items: center;
    font-size: 20px;
    padding-left: 20px;
  }
  #mobile1-artisan {
    display: none;
    align-items: center;
  }
  #close-artisan {
    display: none;
  }

  .pp-artisan {
    width: 100%;
  }
  .ppc-artisan {
    width: 75%;
    margin: 0px auto;
  }
  .popup-artisan button {
    background-color: transparent;
    border: 1px solid white;
    padding: 12px 60px;
    margin: 0px auto;
    color: white;
    border-radius: 20px;
  }

  .egbe-artisan {
    height: 50vh;
  }
  .complete-artisan {
    padding: 10px 0px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
  }
  .complete-artisan > div {
    margin: 0px 10px;
  }
  .reject-artisan {
    padding: 10px 50px;
    color: white;
    background-color: indianred;
    border: none;
    text-decoration: none;
    font-weight: 600;
  }
  .paid-artisan {
    background-color: #60be68;
    color: white;
    border: none;
    font-weight: 600;
    padding: 10px 40px;
  }

  .other-artisan {
    width: 100%;

    padding: 0px 10px;
  }
  .dd-artisan {
    width: 75%;
    margin: 0px auto;
  }

  .fulltable-artisan {
    width: 100%;
  }
  .fulltable1-artisan {
    width: 100%;
  }
  .grey-area1-artisan {
    background-color: #e8e8e8;
    display: flex;
    padding: 30px 20px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    border-radius: 15px;
    margin-top: -50px;
    height: fit-content;
  }

  #customers1-artisan {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    color: #777171;
  }
  #customers1-artisan td {
    font-size: 14px;
  }
  #customers1-artisan td,
  #customers1-artisan th {
    padding: 5px;
    font-weight: 600;
  }

  #customers1-artisan th {
    text-align: left;
    font-size: 14px;
    color: black;
  }
  .user1-details-artisan {
    margin: 0px 0px;
    width: 100%;
    padding: 50px 0px;
  }
  .user1-details-artisan h5 {
    color: #e26e4e;
    width: 30%;
    letter-spacing: 3px;
    font-size: 25px;
    font-weight: 600;
  }

  .summ-artisan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .summ-artisan button {
    background-color: #e26e4e;
    color: white;
    border: none;
    font-size: 12px;
    margin: 0px 10px;
    font-weight: 600;
    padding: 10px 30px;
  }

  * {
    margin: 0;
    padding: 0;
    font-family: Segoe UI;
    box-sizing: border-box;
  }
  .header-artisan {
    display: flex;
    background-image: url("../images/Group\ 41.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 121px;
    width: 100%;
  }
  .header-first-artisan {
    width: 17%;
    color: white;
  }
  .header-second-artisan {
    width: 83%;
  }
  .hff-artisan {
    padding: 8px 5px;
    background-color: rgb(226, 110, 78);
    text-align: center;
  }
  .hff-artisan h6 {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: "Montserrat";
  }
  .hfb-artisan {
    padding: 8px 5px;
    text-align: center;
    background-color: rgb(245, 206, 196);
  }
  .hfb-artisan h6 {
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 600;
    font-family: "Montserrat";
  }
  .bnav-artisan {
    padding: 15px 40px;

    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .bnav-artisan > div {
    margin: 0px 10px;
  }
  #headnav-artisan {
    padding: 0px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #headina-artisan {
    display: flex;
  }
  #headina-artisan li {
    padding: 0px 10px;
    list-style: none;
  }
  #headina-artisan li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
  }
  .deal-artisan {
    color: indianred;
  }
  .main-artisan {
    display: flex;
    padding: 15px 0px;
    width: 100%;
  }
  .breaker-artisan {
    display: none;
  }
  .main-artisan ul li {
    list-style: none;
    padding: 15px 10px;
  }
  .main-artisan ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #777171;
  }
  .main-artisan img {
    padding: 0px 10px;
  }
  .egbe-artisan {
    width: 15%;
  }
  .other-artisan {
    width: 85%;

    padding: 10px 70px;
  }
  .abovegrey-artisan {
    width: 100%;
    height: 15vh;

    margin-bottom: 50px;
  }
  .grey-area-artisan {
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 15px;
    margin: auto;
    height: 500px;
  }
  .grey-area-artisan p {
    color: #777171;
    text-align: center;
  }
  .grey-area2-artisan {
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 15px;
    margin: auto;
    height: 500px;
  }
  .grey-area2-artisan p {
    color: #777171;
    text-align: center;
  }
  .popup1-artisan {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(250, 193, 44);
    padding: 110px 100px;
    width: 50%;
    height: 40vh;
    visibility: visible;
    border-radius: 20px;
    margin: 25% 30%;
  }
  .popup1-artisan img {
    width: 100%;
    height: 120px;
    object-fit: contain;
  }
  .popup1-artisan h5 {
    color: white;
    margin: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    font-size: 20px;
  }

  .popup1-artisan button {
    background-color: transparent;
    border: 1px solid white;
    padding: 12px 60px;

    color: white;
    border-radius: 20px;
  }
}
@media (max-width: 450px) {
  .grey-area12-artisan {
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    border-radius: 15px;
    margin-top: 120%;
    height: fit-content;
  }
  * {
    margin: 0;
    padding: 0;
    font-family: Segoe UI;
    box-sizing: border-box;
  }
  .header-artisan {
    display: flex;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(245, 206, 196);
    height: 121px;
    width: 100%;
    z-index: 999;
    position: fixed;
  }
  .header-first-artisan {
    width: 25%;
    color: white;
  }
  .header-second-artisan {
    width: 75%;
  }
  .hff-artisan {
    padding: 8px 5px;
    background-color: rgb(226, 110, 78);
    text-align: center;
  }
  .hff-artisan h6 {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .hfb-artisan {
    padding: 8px 5px;
    text-align: center;
    background-color: rgb(245, 206, 196);
  }
  .hfb-artisan h6 {
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 600;
  }
  .bnav-artisan {
    padding: 15px 40px;

    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bnav-artisan > div {
    margin: 0px 10px;
  }
  #headnav-artisan {
    padding: 0px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #headina-artisan {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgb(245, 206, 196);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
  }
  #headina-artisan li {
    list-style: none;
    padding: 20px 10px;
  }
  #headina-artisan li a {
    text-decoration: none;
    color: white;
    padding: 40px 10px;
    font-weight: 600;
  }
  #close1-artisan {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 20px;
    display: flex;
    color: white;
  }
  #headina-artisan.active {
    right: 0px;
  }
  .deal-artisan {
    color: indianred;
  }
  .main-artisan {
    display: flex;
    padding: 15px 0px;
    width: 100%;
    top: 130px;
  }
  #sidebar-artisan {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 150px;
    left: -300px;
    height: 60vh;
    width: 300px;
    background-color: white;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    z-index: 999;
  }
  #sidebar-artisan li {
    list-style: none;
    padding: 15px 10px;
  }
  #sidebar-artisan li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #777171;
  }
  #sidebar-artisan.active {
    left: 0px;
  }
  .main-artisan img {
    padding: 0px 10px;
  }

  .egbe-artisan {
    width: 0%;
  }
  .other-artisan {
    width: 100%;

    padding: 10px 20px;
  }
  .abovegrey-artisan {
    width: 100%;
    height: 15vh;

    margin-bottom: 50px;
  }
  .grey-area-artisan {
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 15px;
    margin: auto;
    height: fit-content;
    padding: 20px 10px;
  }
  .grey-area-artisan p {
    color: #777171;
    text-align: center;
    font-size: 15px;
  }
  .grey-area2-artisan {
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 15px;
    margin-top: 110%;
    height: fit-content;
    padding: 20px 10px;
  }
  .grey-area2-artisan p {
    color: #777171;
    text-align: center;
    font-size: 15px;
  }
  .above-link-artisan ul li a {
    color: indianred;
  }
  .summer-artisan {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .summer-artisan button {
    background-color: #e26e4e;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 30px;
  }
  .blue-area-artisan {
    background-color: #03303e;
    display: flex;
    flex-direction: column;
    padding: 0px 60px;
    width: 100%;
    border-radius: 5px;
    margin: auto;
    height: fit-content;
  }
  .blue-area2-artisan {
    background-color: #03303e;
    display: flex;
    flex-direction: column;
    padding: 0px 60px;
    width: 100%;
    border-radius: 5px;
    margin-top: 110%;
    height: fit-content;
  }
  .blue2-artisan {
    padding: 0px 50px;
  }
  .blue2-artisan img {
    width: 100%;
    height: 200px;
    object-fit: contain;
  }
  .blue-area1-artisan {
    position: relative;
    background-color: #03303e;
    display: flex;
    padding: 100px 90px;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    margin: auto;
    height: fit-content;
  }
  .complete-artisan {
    padding: 10px 0px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
  }
  .complete-artisan > div {
    margin: 0px 0px;
    display: flex;
    justify-content: space-between;
  }
  .reject-artisan {
    padding: 10px 30px;
    color: white;
    background-color: indianred;
    margin-right: 5px;
    border: none;
    text-decoration: none;
    font-weight: 600;
  }
  .paid-artisan {
    background-color: #60be68;
    color: white;
    border: none;
    font-weight: 600;
    padding: 22px 40px;
  }
  .popup-artisan {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(250, 193, 44);
    padding: 140px 100px;
    width: 70%;
    height: 50vh;
    visibility: hidden;
    border-radius: 20px;
    margin: 50% 15%;
  }
  .popup-artisan img {
    width: 100%;
    height: 120px;
    object-fit: contain;
  }
  .popup-artisan h5 {
    color: white;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 20px;
  }
  .pp-artisan {
    width: 100%;
  }
  .ppc-artisan {
    width: 100%;
    margin: 0px auto;
  }
  .popup-artisan button {
    background-color: transparent;
    border: 1px solid white;
    padding: 12px 50px;
    margin-right: 5px;
    color: white;
    border-radius: 20px;
  }
  .popup44-artisan {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(250, 193, 44);
    padding: 140px 100px;
    width: 70%;
    height: 50vh;
    visibility: hidden;
    border-radius: 20px;
    margin: 150% 15%;
  }
  .popup44-artisan img {
    width: 100%;
    height: 120px;
    object-fit: contain;
  }
  .popup44-artisan h5 {
    color: white;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 20px;
  }
  .pp-artisan {
    width: 100%;
  }
  .ppc-artisan {
    width: 100%;
    margin: 0px auto;
  }
  .popup44-artisan button {
    background-color: transparent;
    border: 1px solid white;
    padding: 12px 50px;
    margin-right: 5px;
    color: white;
    border-radius: 20px;
  }
  .grey-area1-artisan {
    background-color: #e8e8e8;
    display: flex;
    padding: 10px 10px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    border-radius: 15px;
    margin: auto;
    height: 500px;
  }

  #customers1-artisan {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: fit-content;
    color: #777171;
  }

  #customers1-artisan td,
  #customers1-artisan th {
    padding: 10px;

    letter-spacing: 1px;
  }

  #customers1-artisan th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    color: black;
  }

  #customers-artisan {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: white;
  }

  #customers-artisan td,
  #customers-artisan th {
    padding: 8px;
    font-weight: 600;
  }

  #customers-artisan th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;

    color: white;
  }
  .fulltable-artisan {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .fulltable1-artisan {
    margin-top: 50px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .fulltable2-artisan {
    margin-top: 50px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .thanos-artisan {
    width: 5%;
    text-align: right;
  }
  .execute-artisan {
    font-size: 14px;
    font-weight: 700;
  }
  .another-artisan {
    font-size: 14px;
    font-weight: 500;
    color: grey;
  }
  .review-artisan {
    text-decoration: none;
    color: white;
    background-color: rgb(226, 110, 78);
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
  }

  .stats {
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 150px;
    align-items: center;
    width: 100%;
  }
  .breaker {
    display: flex;
  }
  .stater {
    width: 100%;
    height: 120px;
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
  }

  .stater h6 {
    font-size: 15px;
    font-weight: 600;
    color: indianred;
  }
  .hello {
  }
  .stats-inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .stats-inner > div {
    width: 100%;
  }
  .stats-inner h4 {
    font-size: 20px;
    font-weight: 600;
    text-align: right;
    color: indianred;
  }

  .stats-inner h6 {
    font-size: 10px;
    font-weight: 600;
    color: indianred;
    text-align: right;
  }
  .user1-details-artisan h6 {
    color: white;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .summ-artisan {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .summ-artisan button {
    background-color: #e26e4e;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 25px;
  }
  .another1-artisan {
    font-size: 14px;
    font-weight: 500;
    padding-top: 0px;
    color: grey;
  }
  .anotherone-artisan {
    font-size: 14px;
    padding-top: 25px;
    font-weight: 500;
    color: grey;
  }
  .toping-artisan {
    padding-top: 20px;
  }
  .dinner-artisan {
    display: grid;
    margin-top: -20px;
  }
  .another1-artisan {
    margin-top: 50px;
    font-size: 14px;
    font-weight: 500;
    color: grey;
  }
  .input-boxer-artisan {
    width: 100%;
    padding: 10px 0px;
  }
  .nile-artisan {
    color: indianred;
    font-size: 33px;
    font-weight: 600;
    margin: 0px;
  }
  .naira-artisan span {
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
  }
  .nile-inner-artisan span {
    letter-spacing: 0px;
    text-align: right;
    font-size: 10px;
    padding-left: 40px;
  }
  .rowwer-artisan {
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .row1-artisan {
    width: 100%;
  }
  .hella-main-artisan {
    padding: 10px 0px;
    justify-content: center;
    display: flex;
    width: 100%;
    align-items: center;
  }
  .hell-artisan {
    width: 50%;
  }
  .hella-artisan {
    padding: 20px 70px;
    font-weight: 600;
    background-color: #60be68;
    color: white;
    border: none;
  }

  .input-boxer-artisan > input {
    height: 45px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 2px;
    text-align: left;
    font-size: 12px;
    margin-top: -20px;
    color: #777171;
    padding-left: 15px;
    font-weight: 600;
  }
  .gether-artisan {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .bring-artisan {
    background-color: white;
    padding: 10px 10px;
    width: 90%;
  }

  .review-artisan {
    text-decoration: none;
    color: white;
    background-color: rgb(226, 110, 78);
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
  }
  .review1-artisan {
    text-decoration: none;
    color: white;
    background-color: rgb(226, 110, 78);
    padding: 10px 11px;
    font-size: 14px;
    font-weight: 600;
  }
  textarea {
    height: 100px;
    width: 300px;
    outline: none;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    padding: 12px 20px;
    color: #777171;
    font-weight: 600;
  }
  #mobile-artisan {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
    color: white;
    padding-right: 60px;
  }
  #mobile1-artisan {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    color: rgb(226, 110, 78);
    padding-right: 60px;
    margin-bottom: 20px;
  }
  #close1-artisan {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 20px;
    display: flex;
    color: white;
  }

  #close2-artisan {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 20px;
    display: flex;
    color: indianred;
  }
  .popupo44-artisan {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(250, 193, 44);
    padding: 110px 100px;
    width: 60%;
    height: 50vh;
    visibility: hidden;
    border-radius: 20px;
    margin: 40% 20%;
  }
  .popupo44-artisan img {
    width: 100%;
    height: 120px;
    object-fit: contain;
  }
  .popupo44-artisan h5 {
    color: white;
    margin: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 20px;
  }
  .popupo44-artisan button {
    background-color: transparent;
    border: 1px solid white;
    padding: 12px 60px;

    color: white;
    border-radius: 20px;
  }
}
